@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgba(135, 207, 235, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
body h1{
    font-size: 80px;
}
.thankyoucloud{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 350px;
}
.cloud{
    position: absolute;
    top: 35%;
    left: -20px;
    background-color: white;
    width: 280px;
    height: 90px;
    border-radius: 150px;
    box-shadow: 8px 8px rgba(0,0,0,0.2);
    transition: 1s;
}
.cloud::after{
    content: '';
    background-color: white;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: -40px;
    left: 40px;
}
.cloud::before{
    content: '';
    background-color: white;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: -65px;
    left: 90px;
}
.thankbox h3{
    position: absolute;
    top: 60%;
    font-size: 35px;
}
.cloud2{
    top: 45%;
   left: 40%;
}
.cloud3{
    top: 55%;
    left:15%;
}
.thankyoucloud:hover .cloud1{
    transform: translate(-150%,-150%);
}
.thankyoucloud:hover .cloud2{
    transform: translate(150%,150%);
}
.thankyoucloud:hover .cloud3{
    transform: translate(-150%,50%);
}
.goBack{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.goBack button{
    text-transform: uppercase;
    bottom: 100px;
    border: 3px solid black;
    background-color: skyblue;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
}
.goBack a{
    text-decoration: none;
    color: black;
}
.goBack a:visited{
    text-decoration: none;
    color: black;
}
@media(max-width : 551px){
    *{
        overflow: hidden;
    }
    .cloud{
        overflow: visible;
    }
}


